
/* GNOME Shell Viper designed by Sean Wilson http://half-left.deviantart.com/ */

stage {
    font-family: cantarell, sans-serif, Aller;
}

.shell-link {
    color: #fff;
    text-decoration: underline;
}

.shell-link:hover {
    color: #fff;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

StScrollBar
{
  padding: 2px;
}

StScrollView.vfade
{
  -st-vfade-offset: 68px;
}

StScrollView StScrollBar
{
  min-width: 12px;
  min-height: 16px;
}


StScrollBar StBin#trough {
    border: 2px solid rgba(34,95,144,0.3);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
}

StScrollBar StButton#vhandle
{
    background-color: rgba(34,95,144,0.4);
    border-radius: 4px;
    border-top: 0px;
    border-bottom: 0px;
    border: 1px solid rgba(34,95,144,0.9);
}

StScrollBar StButton#hhandle
{
    background-color: rgba(34,95,144,0.4);
    border-radius: 4px;
    border-left: 0px;
    border-right: 0px;
    border: 1px solid rgba(34,95,144,0.9);
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-color: rgba(34,95,144,0.6);
    border-radius: 4px;
    border-top: 0px;
    border-bottom: 0px;
    border: 1px solid rgba(34,95,144,0.9);
}

StTooltip StLabel {
    background-color: rgba(34,95,144,0.6);
    border-radius: 4px;
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    color: #fff;
    padding: 2px 12px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-radius: 6px;
    -arrow-background-color: rgba(34,95,144,0.6);
    -arrow-border-width: 4px;
    -arrow-border-color: rgba(0,0,0,0.4);
    -arrow-base: 20px;
    -arrow-rise: 12px;
}

.popup-menu {
    color: rgba(255,255,255,0.8);
    font-size: 10pt;
    min-width: 200px;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.3);
}

.popup-submenu-menu-item:open {
    background-color: #4c4c4c;
}

.popup-sub-menu {
    background-gradient-start: rgba(80,80,80,0.3);
    background-gradient-end: rgba(80,80,80,0.7);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.9);
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .4em 2.75em;
    spacing: 1em;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    border: 1px solid rgba(34,95,144,0.1);
    border-left: 0px;
    border-right: 0px;
}

.popup-menu-item:active {
    background-color: rgba(0,0,0,0.6);
    background-image: url("menu-active-highlight.svg");
    background-position: 0px 15px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-left: 0px;
    border-right: 0px;
    color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.popup-image-menu-item {
}

.popup-separator-menu-item {
    height: 0.1em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    background-gradient-start: rgba(10,10,10,0.6);
    background-gradient-end: rgba(40,40,40,0.7);
    background-gradient-direction: vertical;
    border: 1px solid rgba(200,200,200,0.2);
    -slider-active-background-color: rgba(34,95,144,0.6);
    -slider-active-border-color: rgba(34,95,144,0.8);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
    border-radius: 3px;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("toggle-off-us.svg");
}
.toggle-switch-us:checked {
    background-image: url("toggle-on-us.svg");
}

.toggle-switch-intl {
    background-image: url("toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on-intl.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Shared button properties */

.dash-search-button, .notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    background-color: rgba(11,11,11,0.6);
    background-image: url("panel-highlight.svg");
    background-position: 0 0;
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.dash-search-button:hover, .notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
    background-color: rgba(34,95,144,0.6);
    background-image: url("panel-highlight.svg");
    background-position: 0 0;
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.dash-search-button:selected, .notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
    background-color: rgba(11,11,11,0.6);
    bbackground-image: url("panel-highlight.svg");
    background-position: 0 0;
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.dash-search-button:active, .dash-search-button:pressed,
.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
    background-color: rgba(34,95,144,0.8);
    background-image: url("panel-highlight.svg");
    background-position: 0 0;
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

/* Panel */

#panel {
    color: #333;
    background-color: rgba(0,0,0,0.6);
    background-image: url("panel-highlight.svg");
    background-position: 0px 0px;
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.6);
    border: 2px solid rgba(34,95,144,0.4);
    border-left: 0px;
    border-right: 0px;
    border-radius: 18px 0px 0px 18px;
    height: 1.76em;
}

#panelLeft, #panelCenter, #panelRight {
    spacing: 4px;
    font-weight: bold;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: rgba(150,150,150,0.6);
    transition-duration: 300;
}

.panel-button:hover {
    color: rgba(255,255,2554,0.6);
    background-image: url("button-active.svg");
    transition-duration: 200;
    text-shadow: 0px 0px 2px 2px rgba(34,95,144,0.8);
}

.panel-button:active,
.panel-button:checked,
.panel-button:focus {
    background-image: url("button-active.svg");
    transition-duration: 200;
}

#statusTray > .panel-button:active,
#statusTray > .panel-button:checked,
#statusTray > .panel-button:focus {
    background-image: url("status-tray-button.svg");
    transition-duration: 200;
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

#panelActivities {
    background-image: url("activities-button.svg");
    color: rgba(255,255,255,0.5);
    transition-duration: 200;
}

#panelActivities:hover {
    background-color: rgba(34,95,144,0.4);
    box-shadow: 0px 0px 5px 5px rgba(34,95,144,0.9);
    border-radius: 12px 0px 0px 12px;
    transition-duration: 200;
}

.panel-menu {
    -boxpointer-gap: 4px
}

#panelStatus {
    transition-duration: 0;
}

#panelStatusMenu {
    spacing: 4px;
}

#legacyTray {
    spacing: 14px;
    padding-left: 14px;
}

#legacyTray:rtl {
    padding-left: 0px;
    padding-right: 14px;
}

#legacyTray:compact {
    spacing: 8px;
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    background-color: rgba(34,95,144,0.6);
    border: 3px solid rgba(34,95,144,0.7);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    background-color: rgba(34,95,144,0.6);
    border: 3px solid rgba(34,95,144,1.0);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    background-color: #6c6c6c;
    padding: .4em 0em;
    border-radius: 3px;
    border: 1px solid rgba(33,33,33,0.5);
    box-shadow: 0px 0px 3px 2px rgba(11,11,11,0.2);
    color: #ddd;
    text-shadow: rgba(255,255,255,0.3) 0px 1px 0px;
    font-size: 10pt;
}

.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.14em;
}

/* Overview */

#overview {
    spacing: 12px;
}

.window-caption {
    color: #ddd
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px;
}

.workspace-thumbnails-background {
    background-color: rgba(0,0,0,0.6);
    border: 3px solid rgba(34,95,144,0.4);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 26px;
    padding: 12px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}

.workspace-thumbnails {
    spacing: 7px;
}

.workspace-thumbnail-indicator {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(0,0,0,0.5);
    background-gradient-end: rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 6px 4px rgba(0,0,0,0.3);
    border: 3px solid rgba(34,95,144,0.6);
}

.window-caption {
    background-color: rgba(0,0,0,0.7);
    border: 3px solid rgba(34,95,144,0.7);
    border-right: 0px;
    border-left: 0px;
    border-radius: 8px;
    color: #ddd;
    font-size: 10pt;
    padding: 4px 8px;
    -shell-caption-spacing: 4px;
}

.window-close {
    background-image: url("close-window.svg");
    height: 34px;
    width: 34px;
    -shell-close-overlap: 20px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Dash */

#dash {
    color: #333;
    font-size: 10pt;
    padding: 18px 0px 18px;
    background-color: rgba(0,0,0,0.6);
    border: 3px solid rgba(34,95,144,0.4);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 26px;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 8px 0px 0px 8px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.svg");
    height: 27px;
    width: 48px;
}

#viewSelector {
    spacing: 1em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    padding: 1em;
}

#searchArea {
    padding: 0px;
}

#searchEntry {
    padding: 4px 12px;
    border-radius: 14px 0px 0px 14px;
    color: rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.4);
    border: 2px solid rgba(34,95,144,0.4);
    border-left: 0px;
    border-right: 0px;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
}

#searchEntry:focus,
#searchEntry:hover {
    padding: 4px 12px;
    border-radius: 14px 0px 0px 14px;
    color: rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
}

#searchEntry:hover {
    transition-duration: 300;
}

#searchEntry:focus {
    border-radius: 14px 0px 0px 14px;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.4);
    transition-duration: 300;
}

.search-entry-icon {
    icon-size: 1.4em;
    color: rgba(99,99,99,0.2);
}

.view-tab-title {
    color: rgba(255,255,255,0.3);
    font-weight: bold;
    padding: 0px 0.75em;
    height: 1.5em;
    padding-left: 18px;
    padding-right: 18px;
}

.view-tab-title:hover {
    background-color: rgba(34,95,144,0.3);
    color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,0.5);
    
}

.view-tab-title:selected {
    background-image: url("button-active.svg");
    color: rgba(255,255,255,0.5);
    padding-left: 18px;
    padding-right: 18px;
}

#viewSelectorTabBar {
    padding: 6px;
    background-color: rgba(0,0,0,0.6);
    background-image: url("tab-highlight.svg");
    background-position: 0px 2px;
    border: 2px solid rgba(230,240,230,0.3);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.4);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 8px 8px 4px 4px;
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    background-color: rgba(34,95,144,0.5);
    border: 3px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
    padding: 4px 12px;
    spacing: 4px;
    color: #ddd;
    font-size: 9pt;
    font-weight: bold;
    
}

.search-section-results {
    background-color: rgba(11,11,11,0.7);
    border: 3px solid rgba(34,95,144,0.6);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: inset 0px 0px 3px 4px rgba(0,0,0,0.3);
    color: #ddd;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button {
    background-color: rgba(11,11,11,0.6);
    background-image: url("search-button-highlight.svg");
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
    height: 32px;
    width: 200px;
}

.dash-search-button:selected,
.dash-search-button:hover {
    background-color: rgba(34,95,144,0.6);
    background-image: url("search-button-highlight.svg");
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.dash-search-button-label {
    color: #ddd;
    font-size: 10pt;
}

/* Apps */

.icon-grid {
    spacing: 36px;
    -shell-grid-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.contact-grid {
    spacing: 36px;
    -shell-grid-item-size: 272px;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
    color: rgba(34,95,144,0.8);
    background-color: rgba(0,0,0,0.4);
    border: 3px solid rgba(34,95,144,0.4);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 24px;
    box-shadow: inset 0px 0px 5px 6px rgba(0,0,0,0.3);
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}

.app-filter {
    background-color: rgba(0,0,0,0.4);
    background-image: url("tab-highlight.svg");
    background-position: 0px 0px;
    border: 1px solid rgba(255,255,255,0.0);
    border-bottom: 0px;
    border-top: 0px;
    font-size: 10pt;
    font-weight: bold;
    height: 2.85em;
    color: rgba(255,255,255,0.6);
    width: 160px;
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:hover {
    background-image: url("tab-highlight.svg");
    border: 1px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    color: #fff;
    background-color: rgba(34,95,144,0.4);
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:selected {
    background-image: url("tab-highlight.svg");
    border: 1px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(34,95,144,0.4);
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:selected:rtl {
    background-image: url("filter-selected-rtl.svg");
    background-position: 10px 10px;
}

.app-filter:focus {
    outline: 1px solid #fff;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #a0a0a0;
}

.remove-favorite-icon:hover {
    color: #444;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 3px rgba(0,0,0,0);
    border-top: 0px;
    border-bottom: 0px;
    font-size: 8pt;
    color: rgba(255,255,255,0.8);
    text-align: center;
}

.app-well-app.running > .overview-icon {
    background-color: rgba(0,0,0,0.6);
    background-image: url("app-highlight.svg");
    border: 3px solid rgba(34,95,144,0.5);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: rgba(255,255,255,0.7);
}

.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-color: rgba(0,0,0,0.6);
    background-image: url("app-highlight.svg");
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #fff;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    background-color: rgba(0,0,0,0.6);
    background-image: url("app-highlight.svg");
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #fff;
}

.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    background-color: rgba(0,0,0,0.6);
    background-image: url("app-highlight.svg");
    border: 3px solid rgba(34,95,144,0.5);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #fff;
}

.app-well-menu {
    font-size: 9pt;
}

.contact {
    width: 272px; 
    height: 118px; 
    border-radius: 4px;
    padding: 3px;
    border: 1px solid transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.contact-content {
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: rgba(34,95,144,0.6);
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
    text-align: center;
}

.contact-icon {
  border-radius: 4px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 14px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 11pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    background-color: rgba(34,95,144,0.6);
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #00ff00;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid #88ff66;
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #88ff66;
}

.lg-dialog StEntry
{
  color: #88ff66;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid #88ff66;
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid #00ff00;
}

.lg-dialog .shell-link
{
  color: #88ff66;
}

.lg-dialog .shell-link:hover
{
  color: #00ff00;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #88ff66;
}

/* Calendar popup */

#calendarArea {
    /* this is the width of the entire popup */
    min-width: 600px;
    background-color: rgba(0,0,0,1.0);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.6);
    
}

.calendar-vertical-separator {
    background-color: rgba(34,95,144,0.3);
    width: 0.1em;
}

#calendarPopup {
    color: white;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #fff;
    font-size: 8.5pt;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    background-color: rgba(34,95,144,0.1);
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
    border: 2px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 8px;
    padding: 4px;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-color: rgba(34,95,144,0.6);
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
}
.calendar-change-month-back:active {
    background-color: #fff;
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 8px;
    padding: 4px;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-color: rgba(34,95,144,0.6);
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
}
.calendar-change-month-forward:active {
    background-color: #fff;
}

.datemenu-date-label {
    padding: .3em 2.75em;
    font-size: 10.5pt;
    color: #fff;
    
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: rgba(34,95,144,0.6);
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
    color: #fff;
    font-weight: bold;
}

.calendar-day-base:active {
    background-color: rgba(34,95,144,0.8);
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
    color: #fff;
}

.calendar-day-heading {
    color: #fff;
    padding-top: 1em;
}

.calendar-week-number {  
    color: #fff;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    color: #cfcfcf;
}

.calendar-nonwork-day {
    color: #cdcdcd;
}

.calendar-today {
    background-color: rgba(34,95,144,0.4);
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.4);
    border: 2px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    color: #fff;
    font-weight: bold;
}

.calendar-other-month-day {
    color: rgba(34,95,144,0.8);
}

.calendar-day-with-events {
    font-weight: bold;
    color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.events-header-vbox {
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
    padding-left: 2.8em;
    padding-top: 0.8em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: #fff;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #cdcdcd;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;
    color: rgba(200, 200, 200, 1.0);
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #fff;
}

/* Message Tray */
#message-tray {
    color: #ddd;
    background-color: rgba(0,0,0,0.5);
    background-image: url("panel-highlight.svg");
    background-position: 0px 0px;
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.3);
    border: 2px solid rgba(34,95,144,0.3);
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 18px 18px 0px;
    height: 36px;
}

#notification {
    font-size: 10pt;
    background-color: rgba(0,0,0,1.0);
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #fff;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

.summary-boxpointer {
    -arrow-border-radius: 8px;
    -arrow-background-color: rgba(0,0,0,0.9);
    -arrow-border-color: rgba(34,95,144,0.4);
    -arrow-border-width: 4px;
    -arrow-base: 30px;
    -arrow-rise: 15px
}

.summary-boxpointer #notification {
    border-radius: 8px;
    background: rgba(0,0,0,0) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 9pt
    padding-top: 12px;
    padding-bottom: 12px;
}

.notification-with-image {
    min-height: 159px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
    padding: 8px;
    color: #fff;
}

#notification-actions {
    spacing: 5px;
}

.notification-button {
    border-radius: 12px;
    font-size: 10pt;
    padding: 4px 42px 5px;
}

.notification-button:focus {
    padding: 3px 41px 4px;
}

.notification-icon-button {
    border-radius: 12px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 32px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 12px;
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    color: #ddd;
}

.hotplug-resident-mount:hover {
    background-color: rgba(34,95,144,0.6);
    background-image: url("panel-highlight.svg");
    background-position: 0 0;
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 12px;
    color: #ddd;
}

.chat-log-message {
    color: #888888;
}

.chat-received {
    background-color: rgba(34,95,144,0.1);
    border: 1px solid rgba(34,95,144,0.4);
    border-right: 0px;
    border-left: 0px;
    border-radius: 8px;
    color: #f1f1f1;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    background-color: rgba(34,95,144,0.2);
    border: 1px solid rgba(34,95,144,0.3);
    border-right: 0px;
    border-left: 0px;
    border-radius: 8px;
    color: #f1f1f1;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 9pt;
    color: rgba(34,95,144,0.6);
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

#notification StEntry {
    padding: 4px;
    color: #fff;
    border: 3px solid rgba(34,95,144,0.3);
    border-top: 0px;
    border-bottom: 0px;
    background-color: #000;
    border-radius: 4px;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#notification StEntry:focus {
    color: #fff;
    border: 3px solid rgba(34,95,144,0.3);
    border-top: 0px;
    border-bottom: 0px;
    background-color: rgba(34,95,144,0.2);
    border-radius: 4px;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    color: #fff;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    background-image: url("button-active.svg");
    color: #f1f1f1;
}

.summary-source-button:expanded:selected .summary-source {
    background-image: none;
    border-image: none;
}

.summary-source-button:expanded:selected {
    background-image: url("button-active.svg");
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-color: rgba(0,0,0,0.8);
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 26px;
    padding: 22px;
    font-size: 9pt;
    color: #fff;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 6px;
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 8px;
}

.switcher-list .item-box:selected {
    background-color: rgba(0,0,0,0.7);
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 22px;
    color: #fff;
    
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(34,95,144,0.8);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: rgba(34,95,144,0.8);
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: rgba(34,95,144,1.0);
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    background-color: rgba(0,0,0,0.8);
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 26px;;
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 16px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    background-color: rgba(0,0,0,0.7);
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 24px;
    background-image: url("ws-switch-arrow-up.svg");
}

.ws-switcher-active-down {
    height: 100px;
    background-color: rgba(0,0,0,0.7);
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 24px;
    background-image: url("ws-switch-arrow-down.svg");
}

.ws-switcher-box {
    height: 96px;
    box-shadow: inset 0px 0px 3px 4px rgba(0,0,0,0.3);
    background-color: rgba(44,44,44,0.5);
    border-radius: 16px;
}

/* Modal Dialogs */
.modal-dialog {
    font-size: 12pt;
    background-color: rgba(0,0,0,0.8);
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 24px;
    color: #ddd;

    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 61px;
}

.modal-dialog-button {
    font-size: 10.5pt;

    margin-left: 40px;
    margin-right: 40px;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;

    background-color: rgba(11,11,11,0.6);
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.modal-dialog-button:active,
.modal-dialog-button:hover,
.modal-dialog-button:pressed {
    background-color: rgba(34,95,144,0.4);
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.modal-dialog-button:focus {
    background-color: rgba(34,95,144,0.2);
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;

    padding-left: 31px;
    padding-right: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Run Dialog */
.run-dialog-label {
    font-size: 9pt;
    color: #ddd;
    padding: 4px;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #ddd;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10.5pt;
    font-weight: bold;
    width: 23em;
    color: #ddd;
    background-color: rgba(0,0,0,0.8);
    border: 2px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    padding: 4px;
}

.run-dialog {
    background-color: rgba(0,0,0,0.6);
    border: 3px solid rgba(34,95,144,0.8);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.4);
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #ddd;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: #ddd;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    background-color: rgba(0,0,0,0.8);
    border: 2px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    width: 48px;
    height: 48px;
}

.end-session-dialog-shutdown-icon {
    background-color: rgba(0,0,0,0.8);
    border: 2px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    width: 48px;
    height: 48px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ddd;
}

.end-session-dialog-app-list-item:hover {
    color: #ddd;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #ddd;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    color: #ddd;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #ddd;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ddd;
}

.show-processes-dialog-app-list-item:hover {
    color: #ddd;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* PolicyKit Authentication Dialog */
.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #ddd;
}

.polkit-dialog-description {
    font-size: 10pt;
    color: #ddd;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: rgba(34,95,144,0.9);
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    color: #ddd;
    background-color: rgba(0,0,0,0.8);
    border: 2px solid rgba(34,95,144,0.8);
    border-left: 0px;
    border-right: 0px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    padding: 4px;
}

.polkit-dialog-error-label {
    font-size: 10pt;
    color: #ddd;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

.polkit-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}


/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background-color: rgba(34,95,144,0.6);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
    box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.3);
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-color: rgba(11,11,11,0.7);
    border: 3px solid rgba(34,95,144,0.6);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
    font-size: 12pt;
    font-weight: bold;
}

.keyboard-key:grayed {
   color: #999;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-color: rgba(34,95,144,0.6);
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.keyboard-key:active {
    background-color: rgba(34,95,144,0.6);
    background-image: url("panel-highlight.svg");
    background-position: 0 0;
    border: 3px solid rgba(34,95,144,0.9);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 12px;
    color: #ddd;
}

.keyboard-subkeys {
    color: #ddd;
    padding: 5px;
     -arrow-border-radius: 6px;
    -arrow-background-color: rgba(34,95,144,0.6);
    -arrow-border-width: 4px;
    -arrow-border-color: rgba(0,0,0,0.4);
    -arrow-base: 20px;
    -arrow-rise: 12px;
    -boxpointer-gap: 6px;
}
